@import "../../../scss/colors.scss";
@import "../../../scss/fonts.scss";
@import "../../../scss/mixins.scss";

.container {
    height: 100%;
    max-width: 250px;
    background-color: $secondary-color;
    outline: 2px dashed black;
    outline-offset: -12px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    opacity: 0.75;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerDragOver {
    outline-offset: -7px;
}

.inputContainer {
    text-align: center;
}

.label {
    @include font-headings(800);
    font-size: 20px;

    @include small-device {
        font-size: 18px;
    }
}

.fileName,
.error {
    @include font-headings(800);
    width: 100%;
    font-size: 18px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include small-device {
        font-size: 16px;
    }
}

.error {
    color: $error-color;
}

.input {
    color: transparent;
    width: 110px;

    &::-webkit-file-upload-button {
        visibility: hidden;
    }

    &::before {
        content: "Or choose a file";
        display: inline-block;
        text-align: center;
        padding: 5px 8px;
        user-select: none;
        cursor: pointer;
        text-decoration: underline;
        color: $link-color;
    }
}
