@import "../../../scss/colors.scss";
@import "../../../scss/fonts.scss";
@import "../../../scss/mixins.scss";

.container {
    display: flex;
    justify-content: center;
    max-width: 500px;
    color: $color-on-bg;
    margin-right: 35%;

    @include vertical-device {
        margin-right: 115px;
    }

    @include mini-device {
        margin-right: 70px;
        flex-direction: column;
    }

    @include phone {
        margin-right: 0;
    }
}

.linkBig {
    font-size: 32px;
    margin: 0;

    @include tiny-device {
        font-size: 24px;
    }

    @include mini-device {
        padding: 0;
        font-size: 20px
    }
}

.linkSmall {
    font-size: 24px;
    margin: 0;

    @include tiny-device {
        font-size: 20px;
    }

    @include mini-device {
        display: none;
        visibility: hidden;
    }
}

.navLink {
    @include font-headings(800);
    padding: 5px 9px;
    display: block;
    color: $color-on-bg;
}

.navLinkLeft {
    margin-right: 10px;
    padding: 5px 9px;
    text-align: right;

    @include mini-device {
        text-align: left;
    }
}

.navLinkRight {
    padding-left: 15px;
    text-align: left;
    border-left: 4px solid black;

    @include mini-device {
        border-left: 0;
    }
}

.navLinkActive {
    color: $ternary-color;
    text-decoration: none;

    @include mini-device {
        visibility: hidden;
        display: none;
    }
}
