@import "../../../scss/colors.scss";
@import "../../../scss/fonts.scss";
@import "../../../scss/mixins.scss";
@import "../../../scss/sizes.scss";

.container {
    background-color: $secondary-color;
    padding: $header-height 3% 0;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    min-height: 100vh;
    box-sizing: border-box;

    @include vertical-device-or-mini-device {
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content;
    }

    &.desktop {
        padding: 10% 3%;
        min-height: 100vh;
    }
}

.parameters {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
}

.commonParameters {
    width: 315px;
}

.perCharacterParameters {
    width: 30%;
    min-width: 200px;
    flex-grow: 2;
}

.charactersLabelContainer {
    display: flex;
}

.charactersResetButton {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;

    &:disabled {
        display: none;
    }
}

.charactersTextArea {
    @include font-paragraphs;
    @include input;
    font-weight: 400;
    text-align: left;
    line-height: 18px;
    width: 100%;
    resize: none;
    height: 170px;
    font-size: 16px;
    padding: 10px;

    @include small-device-portrait {
        height: 145px;
    }
}

.instructionList {
    padding-left: 24px;
}

.instructionListItem {
    @include instructionListItem;
}

.label {
    @include font-headings(800);
    margin: 10px 0;
    display: block;
    font-size: 20px;
    width: 100%;
}

.charactersLabel {
    width: 50%;
}

.commonLabel {
    @include font-headings(800);
    margin: 10px 0;
    display: inline-block;
    font-size: 20px;
    width: 70px;
}

.commonInput {
    @include input;
    height: 40px;
    width: 22%;
}

.commonInputIvalid {
    background-color: $ternary-color;
}

.heading {
    @include font-headings(800);
    font-size: 28px;

    @include small-device {
        font-size: 24px;
    }
}

.paragraph {
    @include font-paragraphs;
    line-height: 23px;
    font-size: 20px;

    @include small-device {
        font-size: 18px;
        line-height: 21px;
    }
}

.formButton {
    @include formButton;
    margin: 15px auto;
}

.smallFormButton {
    @include formButton;
    text-align: left;
    font-size: 18px;
}

.times {
    width: 20px;
    text-align: center;
    margin: 1%;
}

.questionMark {
    @include questionMark;
    margin: 0 10px;
}

.inputQuestionMark {
    margin-bottom: 2px;
}

.commonContainer {
    margin: 7px 0;
    height: 20px;
}

.link {
    color: $link-color;
}

.presetSelect {
    @include input;
    @include font-paragraphs;
    font-size: 16px;
    margin: 6px 0;
    width: calc(100% - 40px);
    text-align: left;
    padding-left: 10px;
    height: 35px;
}

.prefillSelect {
    @include input;
    @include font-paragraphs;
    font-size: 16px;
    margin: 6px 0;
    width: 53%;
    text-align: left;
    padding-left: 10px;
    height: 35px;
}

.inputContainer {
    display: inline;
    width: 50%;
}

.desktopWidget {
    display: block;

    @include small-device{
        display: none;
    }
}

.mobileWidget {
    display: none;

    @include small-device {
        display: block;
    }
}
