@import "../../../scss/colors.scss";
@import "../../../scss/mixins.scss";

.container {
    height: 200px;
    overflow-y: scroll;
    background-color: $secondary-color;
    @include scrollbar;

    @include small-device {
        height: 135px;
    }

    @include small-device-portrait {
        height: 165px;
    }
}

.containerDesktop {
    height: 230px;
}

.character {
    font-size: 22px;
    font-weight: 800;
    display: inline-block;
    width: 13%;
    margin: auto 0;
    padding: 0;
    padding-left: 1px;
    vertical-align: middle;
    box-sizing: border-box;
}

.input {
    @include input;
    height: 40px;
    min-width: 40px;
    width: 26%;
    padding: 0;
}

.inputInvalid {
    background-color: $ternary-color;
}

.times {
    width: 17%;
    text-align: center;
}

.undoButton {
    font-size: 18px;
    text-align: center;
}

.characterContainer {
    margin: 7px 0;
}

.button {
    border-radius: 50%;
    border: none;
    color: black;
    background-color: transparent;

    padding: 0;
    cursor: pointer;
    vertical-align: middle;
}

.buttonContainer {
    width: 18%;
    text-align: center;
    display: inline-block;
}
