@import "../../scss/mixins.scss";
@import "../../scss/colors.scss";

.container {
    margin: 5px;
}

.authorsContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
}

.link {
    color: $link-color;
}

.version {
    @include font-paragraphs;
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

.disclaimer {
    margin: 25px 10px;
}

.paragraph {
    @include font-paragraphs;
    font-size: 14px;
    line-height: 16px;
}
