@import "../../../scss/colors.scss";
@import "../../../scss/fonts.scss";
@import "../../../scss/glyphs.scss";
@import "../../../scss/mixins.scss";
@import "../../../scss/sizes.scss";

.container {
    background-color: $secondary-color;
    padding: $header-height 3% $footer-height;
    min-height: calc(100vh - #{$footer-height});
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 46% 48%;
    column-gap: 6%;

    @include vertical-device-or-mini-device {
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content;
    }

    &.desktop {
        padding: 3%;
        min-height: 100vh;
    }
}

.instructionList {
    padding-left: 24px;
}

.instructionListItem {
    @include instructionListItem;
}

.heading {
    @include font-headings(800);
    font-size: 28px;

    @include small-device {
        font-size: 24px;
    }
}

.dropzones {
    margin-top: 54px;
    width: 100%;
    min-height: 185px;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;

    @include small-device {
        margin-top: 46px;
        grid-template-columns: 100%;
        grid-template-rows: 48% 48%;
        row-gap: 4%;
        justify-content: center;
        height: 290px;
    }

    &.desktop {
        margin-top: 0;
    }
}

.options {
    margin-top: 12px;
}

.label {
    @include font-headings(800);
    margin: 10px 0;
    display: block;
    font-size: 20px;
}

.optionsLabel {
    @include font-headings(800);
    margin: 7px 0;
    display: inline-block;
    font-size: 20px;
    width: 130px;

    @include phone {
        font-size: 16px;
    }
}

.buttonsContainerLabel {
    @include font-headings(800);
    display: block;
    text-align: center;
    font-size: 24px;
}

.optionsInput {
    @include input;
    height: 41px;
    width: 64px;
}

.times {
    width: 20px;
    text-align: center;
    margin: 5px;
}

.questionMark {
    @include questionMark;
    margin: 0 0 0 10px;
}

.option {
    margin-bottom: 10px;
}

.downloadButton {
    @include downloadButton;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.download {
    padding-top: 10px;
}

.buttons {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.samplesParagraph {
    @include font-paragraphs;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

.samplesLink {
    color: $link-color;

    &::before,
    &::after {
        content: $nbsp;
        display: inline-block;
    }
}

.previewContainer {
    margin-top: 65px;

    &.desktop {
        margin-top: 11px;
    }
}
