@import "../../../scss/colors.scss";

.container {
    display: block;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: $secondary-color-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 44px;
    color: $primary-color;
}
