@import "../../../colors.scss";
@import "../../../mixins.scss";

.container {
    height: calc(100% - 50px);
    max-height: 200px;
    overflow-y: scroll;
    background-color: $primary-color;

    @include scrollbar;
}

.character {
    font-size: 20px;
    font-weight: 800;
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: auto 0;
    padding: 0;
    vertical-align: middle;
}

.input {
    background-color: $input-color;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    min-width: 40px;
    width: 25%;
    border: none;
    box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 600;
    padding: 0;
}

.times {
    width: 15%;
    text-align: center;
}

.timesButton {
    width: 20px;
    text-align: center;
}

.characterContainer {
    margin: 7px 0;
}

.button {
    background-color: black;
    border-radius: 50%;
    border: none;
    color: white;
    width: 20px;
    height: 20px;
    padding: 0;
}

.buttonContainer {
    width: 15%;
    text-align: center;
    display: inline-block;
}
