.container {
    width: 100vw;
    height: calc(100vh - 50px);
}

.worksplit {
    display: flex;
    flex-direction: row;
}

.formcontainer {
    flex-grow: 1;
    padding: 20px;
}

.canvascontainer {
    flex-grow: 4;
    padding: 20px;
}
