@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";
@import "../../scss/sizes.scss";
@import "../../scss/mixins.scss";

.container {
    @include font-headings(800);
    width: 100%;
    min-height: $footer-height;
    background-color: $secondary-color;
    box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include small-phone {
        flex-wrap: wrap;
    }
}

.policy {
    margin-left: 2%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link {
    display: inline;
    color: $link-color;
    font-weight: 800;
    padding: 1px;
}

.authors {
    display: flex;
    margin-left: 20px;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: 10px;
    margin-right: 2%;

    @include mini-device {
        visibility: hidden;
        display: none;
    }
}
