@import "../../scss/fonts.scss";
@import "../../scss/colors.scss";

.container {
    @include font-paragraphs;
    margin: 15px;
    font-size: 18px;
}

.content {
    @include font-headings(400);
    margin: 13px 0;
}

.contentBold {
    @include font-headings(800);
}

.link {
    @include font-paragraphs;
    color: $link-color;
}

.descriptionParagraph {
    margin: 1px 15px;
    font-size: 16px;
}
