@import "../../../scss/colors.scss";
@import "../../../scss/fonts.scss";
@import "../../../scss/mixins.scss";

.container {
    background-color: $secondary-color;
    padding: 2% 3%;
    display: grid;
    grid-template-columns: 50% 46%;
    column-gap: 4%;
    height: calc(100% - 80px - 110px);
    box-sizing: border-box;
}

.parameters {
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: 180px;
}

.charactersTextArea {
    @include font-paragraphs;
    line-height: 18px;
    width: 100%;
    resize: none;
    height: 170px;
    border: none;
    background-color: $input-color;
    box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;

    @include small-device {
        height: 75px;
    }

    @include small-device-portrait {
        height: 145px;
    }
}

.instructionList {
    padding-left: 24px;
}

.instructionListItem {
    @include font-paragraphs;
    line-height: 23px;
    margin: 12px 0;
    font-size: 20px;

    @include small-device {
        font-size: 18px;
        line-height: 21px;
    }
}

.label {
    @include font-headings(800);
    margin: 10px 0;
    display: block;
    font-size: 20px;
}

.commonLabel {
    @include font-headings(800);
    margin: 10px 0;
    display: inline-block;
    font-size: 20px;
    width: 26%;
}

.commonInput {
    background-color: $input-color;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    width: 22%;
    border: none;
    box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 600;
}

.commonInputIvalid {
    background-color: $scroll-handle-color;
}

.heading {
    @include font-headings(800);
    font-size: 28px;

    @include small-device {
        font-size: 24px;
    }
}

.paragraph {
    @include font-paragraphs;
    line-height: 23px;
    font-size: 20px;

    @include small-device {
        font-size: 18px;
        line-height: 21px;
    }
}

.downloadButton {
    @include font-headings(800);
    background-color: transparent;
    border: none;
    text-decoration: underline;
    text-align: center;
    display: block;
    margin: 15px auto;
    font-size: 20px;
    color: $link-color;
    text-transform: capitalize;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.times {
    width: 20px;
    text-align: center;
    margin: 1%;
}

.questionMark {
    background-color: black;
    border-radius: 50%;
    color: white;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0 2%;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    line-height: 20px;
}

.commonContainer {
    margin: 7px 0;
    height: 20px;
}

.link {
    color: $link-color;
}
