@import "../../../scss/mixins.scss";

.previewContainer {
    --bgColor: #ffffff;
    
    display: block;
    border: 2px solid black;
    width: 100%;
    max-width: 420px;
    background-color: var(--bgColor);

    canvas {
        max-width: 100%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-height: 100%;
    margin-right: 10px;
}

.label {
    @include font-headings(800);
    margin: 3px 0;
    display: inline-block;
    font-size: 16px;
    width: 100px;
}

.previewInput {
    @include input;
    resize: none;
    min-height: 80px;
    text-align: left;
    padding: 10px;
}

.scaleInput {
    @include input;
    height: 41px;
    width: 75px;
}

.colorInput {
    width: 69px;
}
