$primary-color: #202020;
$secondary-color: #f2f2f2;
$ternary-color: #707070;
$input-color: #ffffff;
$link-color: #3f3f3f;
$color-on-bg: #ffd76c;
$button-color: #ac202d;
$error-color: #ac202d;

$secondary-color-transparent: #f2f2f266;
