@import "./colors.scss";
@import "./fonts.scss";

@mixin scrollbar {
    /* width */
    &::-webkit-scrollbar {
        width: 16px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $primary-color;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $color-on-bg;
    }
}

@mixin vertical-device {
    @media (orientation: portrait) {
        @content;
    }
}

@mixin small-phone {
    @media (max-width: 340px) {
        @content;
    }
}

@mixin phone {
    @media (max-width: 400px) {
        @content;
    }
}

@mixin mini-device {
    @media (max-width: 535px) {
        @content;
    }
}

@mixin tiny-device {
    @media (max-width: 1000px) {
        @content;
    }
}

@mixin small-device {
    @media (max-width: 1300px) {
        @content;
    }
}

@mixin small-device-portrait {
    @media (max-width: 1300px) and (orientation: portrait) {
        @content;
    }
}

@mixin vertical-device-or-mini-device {
    @media (orientation: portrait), (max-width: 535px) {
        @content;
    }
}

@mixin downloadButton {
    @include font-headings(800);
    background-color: transparent;
    border: none;
    text-decoration: underline;
    text-align: center;
    display: block;
    font-size: 20px;
    color: $link-color;
    text-transform: capitalize;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}

@mixin questionMark {
    background-color: black;
    border-radius: 50%;
    color: white;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    line-height: 20px;
}

@mixin instructionListItem {
    @include font-paragraphs;
    line-height: 23px;
    margin: 12px 0;
    font-size: 20px;

    @include small-device {
        font-size: 18px;
        line-height: 21px;
    }
}

@mixin input {
    background-color: $input-color;
    box-sizing: border-box;
    border: none;
    box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 600;
}
