@import "./colors.scss";

@mixin scrollbar {
    /* width */
    &::-webkit-scrollbar {
        width: 16px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $primary-color;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $color-on-bg;
    }
}

@mixin vertical-device {
    @media (orientation: portrait) {
        @content;
    }
}

@mixin small-phone {
    @media (max-width: 340px) {
        @content;
    }
}

@mixin phone {
    @media (max-width: 400px) {
        @content;
    }
}

@mixin mini-device {
    @media (max-width: 535px) {
        @content;
    }
}

@mixin tiny-device {
    @media (max-width: 1000px) {
        @content;
    }
}

@mixin small-device {
    @media (max-width: 1300px) {
        @content;
    }
}

@mixin small-device-portrait {
    @media (max-width: 1300px) and (orientation: portrait) {
        @content;
    }
}
